<div class="tt-container">
	<h3>Timers</h3>

	@if(error()) {
		<div>{{ error() }}</div>
	}

	@if(loading()) {
		<div>Loading timers...</div>
	}


	<div class="tt-table-wrap">
		<table class="tt-table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Start (UTC)</th>
				<th>End (UTC)</th>
			</tr>
		</thead>
		<tbody>
			@for (t of timers(); track t.id) {
			<tr>
				<td>{{ t.id }}</td>
				<td>{{ t.name }}</td>
				<td>{{ t.startTimeUtc }}</td>
				<td>{{ t.endTimeUtc ?? '-' }}</td>
			</tr>
			}
		</tbody>
		</table>
	</div>


	@if (!loading() && !error() && !timers().length) {
		<div>No timers found.</div>
	}
</div>
